<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://leafh.pw/" target="_blank" title="Homepage">Homepage</a></li>
      <li><a href="http://leaf-hsiao.lofter.com/" target="_blank" title="Gallery">Gallery</a></li>
      <li><a href="http://1000.hnu.cn/" target="_blank" title="qnxg">千年弦歌</a></li>
      <li><a href="https://xtms.me/" target="_blank" title="tms">TMS</a></li>
    </ul>
</div>
